<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Practice Unite{% endblock %}</title>

    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/fontawesome-free-5.15.1-web/css/all.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/fontawesome-free-5.15.1-web/css/v4-shims.min.css') }}" />

    <!-- CSS -->
    {% block stylesheets %}
        {% stylesheets
        '@HospitalBundle/Resources/public/css/app.css'
        '@HospitalBundle/Resources/public/css/app-2.css'
        
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        <style>
        .littlemargin{
                position: fixed;
                top: 60px;
                width: 100%;
                line-height: 18px;
                z-index:1;
        }
        </style>

        

    {% endblock %}

    <!--[if gte IE 9]>
    {% stylesheets '@HospitalBundle/Resources/public/css/app-ie9.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script language="JavaScript">
        // Set timeout variables.
        var g_timeoutWarning = 36000000; // Display warning in 10 hours.
        var warningTimer;
        var remainingTimer;

        // Start timers.
        function StartTimers( timeoutWarning ) {
            if (typeof timeoutWarning !== 'undefined') {
                g_timeoutWarning = timeoutWarning;
            }
            if(document.getElementById("timeout") !== null  && g_timeoutWarning !== 0){
                warningTimer = setTimeout("IdleWarning()", g_timeoutWarning);
            }
        }

        // Reset timers.
        function ResetTimers() {
            clearTimeout(warningTimer);
            clearInterval(remainingTimer);
            StartTimers(g_timeoutWarning);
            $('#timeout').animate({'top':'-250px'}, 1500,function(){
                $('#overlay').fadeOut('1500');
            });
        }

        function secondsTimer() {
            var displaySeconds = 60;
            remainingTimer = setInterval(function (){
                if (displaySeconds > 0) {
                    $('#seconds-timer').html(displaySeconds);
                    displaySeconds -= 1;
                } else {
                    clearInterval(remainingTimer);
                    IdleTimeout();
                }
            }, 1000);
        };

        // Show idle timeout warning dialog.
        function IdleWarning() {
            $('#overlay').fadeIn('2000',function(){
                $("#seconds-timer").empty();
                $('#timeout').animate({'top':'250px'}, 1500);
                secondsTimer();
            });
        }

        // Logout the user.
        function IdleTimeout() {
            logoutUser();
        }
    </script>
</head>

{% import _self as forms %}
    {% set adjustPresenceType = "active" %}
    {% if app.user.employee.fullName is defined %}
        {% set prs = app.user.employee.presence %}    
        {% set leave_of_absence_val = constant('Navio\\HospitalBundle\\Entity\\HospitalPresenceStatus::PRESENCE_STATUS_LEAVE_OF_ABSENCE') %}
            {% if app.user.employee.getContactType() == 1 %}
                {% if  (prs == 'inactive' or prs == 'unavailable' or app.user.employee.isDnd()) and app.user.employee.getCoveringPhysician is null %}
                    {% set adjustPresenceType = "unavailable" %}
                {% elseif ((prs == 'inactive' or prs == 'unavailable' or app.user.employee.isDnd()) and app.user.employee.getCoveringPhysician is defined  and app.user.employee.getCoveringPhysician is not null) %}
                    {% set adjustPresenceType = "unavailable" %}
                {% elseif  prs == leave_of_absence_val  and app.user.employee.getCoveringPhysician is null  %}
                    {% set adjustPresenceType = "unavailable" %}
                {% elseif  prs == leave_of_absence_val  and app.user.employee.getCoveringPhysician is not null  %}
                    {% set adjustPresenceType = "unavailable" %}
                {% elseif app.user.employee.getCoveringPhysician is defined  and app.user.employee.getCoveringPhysician is not null %}
                    {% set adjustPresenceType = "covered" %}
                {% elseif not app.user.employee.isActive %}  
                    {% set adjustPresenceType = "inactive" %}
                {% elseif  prs == 'unavailable' %} 
                    {% set adjustPresenceType = "unavailable" %}
                {% elseif  app.user.employee.isDnd() %}
                    {% set adjustPresenceType = "dnd" %}
                {% else  %}
                    {% set adjustPresenceType = "active" %}
                {% endif  %} 
            {% else %}
                &nbsp;&nbsp;&nbsp; {{ name }}    
            {% endif %}
    {% else %}
        {% set adjustPresenceType = "active" %}
    {%endif %}

{% macro nameWithPresence(phy) %}
    {% if phy.fullName is defined %}
        {% set name = phy.fullName %}
        {% set prs = phy.presence %}    
        {% set leave_of_absence_val = constant('Navio\\HospitalBundle\\Entity\\HospitalPresenceStatus::PRESENCE_STATUS_LEAVE_OF_ABSENCE') %}
            {% if phy.getContactType() == 1 %}
                {% if  (prs == 'inactive' or prs == 'unavailable' or phy.isDnd()) and phy.getCoveringPhysician is null %}
                    <i class="fa fa-circle presence-unavailable basePres"></i> <span>{{ name }}</span>
                {% elseif ((prs == 'inactive' or prs == 'unavailable' or phy.isDnd()) and phy.getCoveringPhysician is defined  and phy.getCoveringPhysician is not null) %}
                    <i class="fa fa-circle-thin presence-unavailable basePres"></i> <span>{{ name }}</span>
                {% elseif  prs == leave_of_absence_val  and phy.getCoveringPhysician is null  %}
                    <i class="fa fa-circle presence-unavailable basePres"></i> {{ name }}
                {% elseif  prs == leave_of_absence_val  and phy.getCoveringPhysician is not null  %}
                    <i class="fa fa-circle-thin presence-unavailable basePres"></i> {{ name }}
                {% elseif phy.getCoveringPhysician is defined  and phy.getCoveringPhysician is not null %}
                        <i class="fa fa-circle-thin presence-covered basePres"></i> <span>{{ name }}</span>
                {% elseif not phy.isActive %}  
                        <i class="fa inactive presence-inactive basePres"></i> <span>{{ name }}</span>
                {% elseif  prs == 'unavailable' %} 
                        <i class="fa fa-circle presence-unavailable basePres"></i> <span>{{ name }}</span>
                {% elseif  phy.isDnd() %}
                        <i class="fa fa-circle presence-dnd basePres"></i> <span>{{ name }}</span>
                {% else  %}
                        <i class="fa fa-circle presence-active basePres"></i> <span>{{ name }}</span>
                {% endif  %} 
            {% else %}
                &nbsp;&nbsp;&nbsp; {{ name }}    
            {% endif %}    
    {% else %}
            {% set name = app.user.fullname %}
            <i class="fa fa-circle presence-active basePres"></i> {{ name }}
    {%endif %}
{% endmacro %}

{% macro getPresenceForPhysicianArray(phy) %}
    {% if phy['fullName'] is defined %}
        {% set name = phy['fullName'] %}
        {% set prs = phy['presence'] %}
        {% if phy['contact_type'] == 1 %}
            {% if  prs == "inactive" %}
                <i class="fa fa-circle presence-unavailable basePres"></i> {{ name }}
            {% elseif  prs == leave_of_absence_val  %}
                <i class="fa fa-circle presence-unavailable basePres"></i> {{ name }}
            {% elseif phy['covering_physician_id'] > 1 %}
                <i class="fa fa-circle-thin presence-covered basePres"></i> {{ name }}
            {% elseif not phy['is_active'] %}
                <i class="fa inactive presence-inactive basePres"></i> {{ name }}
            {% elseif  prs == 'unavailable' %}
                <i class="fa fa-circle presence-unavailable basePres"></i> {{ name }}
            {% elseif  phy['dndintervalstart'] and phy['dndintervalend'] %}
                {% set t24 = "now"|date("Hi") %}
                {% if phy['dndintervalstart'] < phy['dndintervalend'] and phy['dndintervalstart'] <= t24 and t24 <= phy['dndintervalend']%}
                    <i class="fa fa-circle presence-dnd basePres"></i> {{ name }}
                {% elseif phy['dndintervalend'] < phy['dndintervalstart'] and (t24 <= phy['dndintervalend'] or t24 >= phy['dndintervalstart']) %}
                    <i class="fa fa-circle presence-dnd basePres"></i> {{ name }}
                {% else %}
                    <i class="fa fa-circle presence-active basePres"></i> {{ name }}
                {% endif %}
            {% else  %}
                <i class="fa fa-circle presence-active basePres"></i> {{ name }}
            {% endif  %}
        {% else %}
            {{ name }}
        {% endif %}
    {% else %}
        {% set name = app.user.fullname %}
        <i class="fa fa-circle presence-active basePres"></i> {{ name }}
    {%endif %}
{% endmacro %}

{% set webTimeout = 0 %}
{%  if is_granted("ROLE_SUPER_ADMIN") %}
    {% set webTimeout = 36000000 %}
{% elseif app.user and app.user.hospital is defined and app.user.hospital %}
    {% set webTimeout = app.user.hospital.getSetting('webTimeout',36000000) %}
{%endif %}

    
<body class="content{% block additional_body_classes %} content-has-header{% endblock %}" {% if app.request.get('_route') == 'list_message' %}onclick="ResetTimers();"{% endif %} onload="StartTimers({{ webTimeout }});">

    {% set hospHasLocs = (app.user and app.user.hospital and app.user.hospital.locations|length > 0 ) %}
    {% set hospHasReports = false %}

    <header class="main">
        <div id="popup_box"></div>
        {% if app.user  %}
        <div class="overlay" id="overlay" style="display:none;"></div>
        <div id="timeout">
            <h1><i class="fa fa-exclamation-triangle"></i> Your session is about to end</h1>
            <span class="txtTimeout">You will automatically be logged out in <span id="seconds-timer"></span> seconds. To remain logged in, click the "STAY LOGGED IN" Button.<br />
                <span class="btns"><button onclick="ResetTimers()" class="btn btn-success btn-uc">Stay Logged In</button><button onclick="IdleTimeout()" class="btn btn-success btn-uc">Logout</button><button onclick="logoutAction('timeout')" class="btn btn-success btn-uc mkUnav">Logout & Make Unavailable</button></span>

            </span>
        </div>
        {% endif %}
        {% if app.user.hospital.id is defined %}
            <a href="{{ path('user_home') }}" title="home page" class="logo"><img src="/uploads/hospitals/{{ app.user.hospital.logo }}" width="140" height="45" alt="" onerror="this.onerror=null;this.src='/img/logoPU.png'" /></a>
        {% else %}
            <a href="{{ path('user_home') }}" title="home page" class="logo"><img src="/img/logoPU.png" width="140" height="45" alt=""  /></a>
        {% endif %}
        <div class="byUhh"><span class="scs">Brought to you by</span><span class="uhh">Uniphy Health Systems, LLC</span></div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <nav class="utility">
            {%  if app.user.hospital.name is defined  %}
                <li class="hospital-name">
                        {% if app.user.hospital.locations|length > 0 %}
                            <a href="{{ path('location_choosemine') }}" title="Set Location">
                        {% endif %}
                                <i class="fa fa-hospital-o big-icon icon-margin"></i><span class="hospital-name-header">{{ app.user.hospital.name }}</span>
                        <span>
                            {% if app.user.employee.location.abbrev is defined %}
                                / {{ app.user.employee.location.abbrev }}
                            {% endif %}

                            {% if app.user.hospital.locations|length > 0 %}
                        </span>
                            </a>
                        {% endif %}
                </li>
            {% endif %}
            <li class="has-icon-with-space">
                    {% if app.user.employee is defined and app.user.employee.id is defined %}
                        <a href="{{ path('mypresence',{'id': app.user.employee.id }) }}" name="myPresence" title="Set Presence/ Enable Coverage" id="{{ app.user.employee.id }}" data-presence="{{  adjustPresenceType  }}" data-covered={% if app.user.employee.getCoveringPhysician is defined  and app.user.employee.getCoveringPhysician is not null %}"true"{% else %}"false"{% endif %}><img src="/physicians/getPhysicianImg/{{ app.user.employee.id }}" width="40" height="40" style="border-radius: 50%; margin-right: 5px;">
                            {{ forms.nameWithPresence(app.user.employee) }}
                        </a>
                    {% else %}
                        <i class="fa fa-user big-icon icon-margin"></i>
                        <span>{{ app.user.fullname }}</span>
                    {% endif %}
                    
            </li><!--
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                --><li class="switch-user"><a href="{{ path('home', {'_switch_user': '_exit'}) }}" title="Exit impersonation"><i class="fa fa-eye-slash big-icon"></i></a></li><!--
            {% endif %}
            --><li id="messageNavBtn" class="has-dark-bg">
                <span id="messageBadgeCount" class="nav-notification hidden" style="right: 10px; top: 13px;"></span>
                <a href="{{ path('message_screen')}}" title="Secure Messaging"><i class="fa fa-comments big-icon"></i></a>
            </li><!--
             {% if 'Alerts' in app.session.get('compnames')%}
             --><li id="alertNavBtn" class="has-dark-bg">
                <span id="alertBadgeCount" class="nav-notification hidden"></span>
                <a href="{{ path('alerts_list') }}"><i class="fa fa-bullhorn big-icon" title="Alerts"></i></a>
            </li><!--
            {% endif %}

            {% if is_granted('ROLE_PRIV_READ_CONSULT') %}
                 {% if 'Consult' in app.session.get('compnames')%}
            --><li id="consultNavBtn" class="has-dark-bg">
                <span id="consultBadgeCount" class="nav-notification hidden" style="right: 10px; top: 13px;"></span>
                <a href="{{ path('consults_list', {'type': 'Consult'}) }}"><i class="fa fa-user-md big-icon" title= {{ app.session.get('consults_component_title')}}  "></i></a>
            </li><!--
                 {% endif %}
            {% endif %}

            {% if is_granted('ROLE_PRIV_READ_REFERRAL') %}
                 {% if 'Referral' in app.session.get('compnames')%}
            --><li id="consultNavBtn" class="has-dark-bg">
                <span id="referralBadgeCount" class="nav-notification hidden" style="right: 10px; top: 13px;"></span>
                <a href="{{ path('consults_list', {'type': 'Referral'}) }}"><i class="fas fa-people-arrows big-icon" title= {{ app.session.get('referral_component_title')}}  "></i></a>
            </li><!--
                 {% endif %}
            {% endif %}
             
             {% set compos = app.session.get('compnames') %}
             {% set secText = 0 %}
             {% for comps in app.session.get('components') %}
                 {% if 'Lab' in comps.n or 'lab' in comps.n or 'result' in comps.n or 'Result' in comps.n %}
                  {% set secText = 1 %}
                 {% endif %}
             {% endfor %}
            {% if ('Events' in compos) or ('News' in compos) or ('Feedback' in compos) or ('Secure Text' in compos and secText == 1) %}
            --><li id="notificationNavBtn" class="has-dark-bg">
            <span id="notificationBadgeCount" class="nav-notification hidden" style="background-color:#ff0000"></span><a class="dropdown" id="notificiondd" href="#" >
                            <i class="fa fa-bell fa-lg" title="Notifications" style="margin-top: 3px;"></i></a>
                <ul id="myDropdown" class="dropdown-menu"
                    style="right:1% !important;left:auto;color:#000;line-height: 150px;margin:0px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;min-width: 175px !important;">
                    {% for comps in app.session.get('components') %}
                    {% if 'Events' ==comps.t %}
                        <li>
                            <a style="align-items:center;color:#808080;padding-top: 6px;padding-bottom: 6px;position:relative;"
                               href="{{ path('events_user') }}">
                                <i class="fa fa-calendar fa-lg"><span
                                            style="font-family: 'Helvetica Neue', Helvetica, Arial;font-size: 14px;padding-left:10px;">{{ comps.n }}</span></i>
                                <span id="eventBadgeCount" class="nav-notification hidden"
                                      style="top: 10px; right: 10px; background-color: #ff0000; font-size: 9px;"></span>
                            </a>
                        </li>
                    {% endif %}

                    {% if 'News' == comps.t %}
                        <li>
                            <a style="align-items:center;color:#cac7c7;padding-top: 6px;padding-bottom: 8px;pointer-events: none;cursor: default;position:relative;"
                               href="#">
                                <i class="fa fa-newspaper-o fa-lg"><span
                                            style="font-family: 'Helvetica Neue', Helvetica, Arial;font-size: 14px;padding-left:6px;margin-bottom: 6px;">{{ comps.n }}</span></i>
                                <span id="newsBadgeCountItem" class="nav-notification hidden"
                                      style="top: 10px;background-color: #ff0000;font-size:12px;"></span>
                            </a>
                        </li>
                    {% endif %}

                    {% if 'Feedback' ==comps.t %}
                        <li>
                            <a style="align-items:center;color:#808080;padding-top: 6px;padding-bottom: 6px;position:relative;"
                               href="{{ path('survey_list') }}">
                                <i class="fa fa-commenting fa-lg"><span
                                            style="font-family: 'Helvetica Neue', Helvetica, Arial;font-size: 14px;padding-left:10px;">{{ comps.n }}</span></i>
                                <span id="surveyBadgeCount" class="nav-notification hidden"
                                      style="top: 10px; right: 10px; background-color: #ff0000; font-size: 9px;"></span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if 'Secure Text' == comps.t %}
                        {% if 'Lab' in comps.n or 'lab' in comps.n or 'result' in comps.n or 'Result' in comps.n %}
                            <li>
                                <a style="align-items:center;color:#808080;padding-top: 6px;padding-bottom: 6px;position:relative;"
                                   href="{{ path('labresults_list',{'v':comps.v,'title':comps.n}) }}">
                                    <i class="fa fa-flask fa-lg"><span
                                                style="font-family: 'Helvetica Neue', Helvetica, Arial;font-size: 14px;padding-left:10px;">{{ comps.n }}</span></i>
                                    <span id="labsBadgeCount{{ comps.n|replace({' ':'_'}) }}"
                                          class="nav-notification hidden"
                                          style="top: 10px; right: 5px; background-color: #ff0000; font-size: 9px;"></span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                </li><!--
            {% endif %}
            
            --><li class="has-dark-bg"><a href="{{ path('settings_page') }}" title="Settings..."><i class="fa fa-cog big-icon"></i></a></li><!--
            {#--><li class="has-dark-bg"><a href="{{ path('fos_user_security_logout') }}" title="Logout"><i class="fa fa-power-off big-icon"></i></a></li>#}
            --><li class="has-dark-bg"><a href="#" title="Logout" onclick="logoutAction('logout')"><i class="fa fa-power-off big-icon"></i></a></li>
        </nav>
        {% endif %}
        <div class="alert alert-warning littlemargin hidden" role="alert"></div>
    </header>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and not app.session.get('updatePasswordNeeded') %}

    {% block navigation %}

    <aside class="menu{% block additional_menu_classes %}{% endblock %}">

        {% if show_menu_hide_buttons is defined %}
            <a href="#" class="hide-menu"><i class="fa fa-angle-double-left"></i></a>
            <a href="#" class="show-menu"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}

        <nav class="side">
            <h3><i class="fa fa-group fa-fw"></i><span>Directories</span></h3>
            <ul>
                <li><a href="{{ path('physician_list') }}">Contacts</a></li>
                {# {% if is_granted('ROLE_PRIV_EDIT_GROUPS') %} #}
                {% if is_granted('ROLE_PRIV_EDIT_GROUPS') or is_granted('ROLE_PRIV_PATIENT_HANDOFF') %}
                    <li><a href="{{ path('admin_group_list') }}">Groups</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_EDIT_HOSP_PATIENTS')  or is_granted('ROLE_PRIV_EDIT_HOSPITALS') %}
                    <li><a href="{{ path('agency_list')}}">{{'Agency'|trans}}</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_VIEW_DEPT_PATIENTS') or is_granted('ROLE_PRIV_VIEW_HOSP_PATIENTS') %}
                    <li><a href="{{ path('patient_list') }}">{{ 'Member'|trans }}s</a></li>
                {% endif %}
                {#{% if is_granted('ROLE_HOSPITAL_USER') %}#}
                    {#<li><a href="{{ path('patient_all') }}">{{ 'Member'|trans }}</a></li>#}
                {#{% endif %}#}
                {% if is_granted('ROLE_PRIV_ENGAGEMENT_READER') %}
                    <li><a href="{{ path('engage_posts') }}">My Feed</a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a href="{{ path('user_list_hadmins') }}">Hospital Admins</a></li>
                    <li><a href="{{ path('user_list_aadmins') }}">{{ 'Agency'|trans }} Admins</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_EDIT_HOSP_PATIENTS')  or is_granted('ROLE_PRIV_EDIT_HOSPITALS') %}
                    <li><a href="{{ path('user_list') }}">Web Users</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_EDIT_HOSPITALS') %}
                <li><a href="{{ path('device_list') }}">Devices</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_EDIT_HOSP_STAFF') or is_granted('ROLE_PRIV_EDIT_HOSPITALS') %}
                <li><a href="{{ path('deleted_staff_list') }}">Deleted Staff</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_EDIT_HOSP_PATIENTS') or is_granted('ROLE_PRIV_EDIT_HOSPITALS') %}
                <li><a href="{{ path('dpatient_list') }}">Deleted Patients</a></li>
                {% endif %}
                {% if is_granted('ROLE_PRIV_MESSAGE_BLAST_SENDER') %}
                <li><a href="{{ path('msg_blast_new') }}">Message Blast</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if is_granted('ROLE_PRIV_VIEW_ONCALL_NOW') %}
            <nav class="side">
                <h3><i class="fa fa-suitcase fa-fw"></i>On Call</h3>
                <ul>
                    <li><a href="{{ path('on_call_now')}}">Currently</a></li>
                    {% set currentYear = "now"|date("Y") %}
                    {% set currentMonth = "now"|date("m") %}
                    <li><a href="{{ path('my_oncall', {'year':currentYear, 'month':currentMonth } ) }}">My On-Call</a></li>

                    {% if is_granted('ROLE_PRIV_VIEW_ONCALL_CAL') %}
                        <li><a href="{{ path('on_call_view')}}">Monthly</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        {% if is_granted('ROLE_SERVICERECOVERY_ADMIN') %}
        <nav class="side">
            <h3><i class="fa fa-area-chart fa-fw"></i>Excellence</h3>
            <ul>
                <li><a href="{{ path('units-report')}}">Today</a></li>
                <li><a href=# onclick="showCurrentMonthExcellenceReport()">Month</a></li>
            </ul>
        </nav>
        {% endif %}

        {% if hospHasReports and is_granted('ROLE_PRIV_VIEW_REPORTS') %}
        <nav class="side">
            <h3><i class="fa fa-area-chart fa-fw"></i>Reports</h3>
            <ul>
                <li><a href="{{ path('reports_bylastdate')}}">Latest</a></li>
                <li><a href="{{ path('reports_late')}}">Late</a></li>
                <li><a href="{{ path('reports_bydate')}}">Full List</a></li>
                <li><a href="{{ path('reports_trend')}}">Trends</a></li>
            </ul>
        </nav>
        {%  endif %}
        {% if is_granted('ROLE_PRIV_BEDBOARD_ADMIN') %}
            <nav class="side">
                <h3><i class="fa fa-hotel  fa-fw"></i>Bed Management</h3>
                <li><a href="{{ path('bed_board_list')}}">Beds</a></li>
            </nav>
        {% endif %}
        {% if is_granted('ROLE_PRIV_SERVICERECOVERY_ADMIN') %}
            <nav class="side">
                <h3><i class="fa fa-apple  fa-fw"></i>Service Recovery</h3>
                <li><a href="{{ path('SRreports_list')}}">Reports</a></li>
            </nav>
        {% endif %}
	    <br/> <br/>
    </aside>
    {% endblock %}


    {% block sidemenu %}{% endblock %}
    <div class="wrapper">
        <header class="{% block additional_header_classes %}page{% endblock %}">
            <div class="container-fluid">
                {% if block('nav_page_back') %}
                    <div class="col-md-1">
                        {% block nav_page_back %}{% endblock %}
                    </div>
                {% endif %}

                <div class="{% if block('nav_page_back') %}col-lg-11{% else %}col-lg-12{% endif %}">
                    {% block no_page_title %}
                        <div style="float: left;">

                            <h1>{% block page_title %}{% endblock %}</h1>
                        </div>

                        <div style="float: right" class="text-right header-buttons">
                            {% block header_actions %}{% endblock %}
                        </div>

                    {% endblock %}

                </div>
            </div>
        </header>
    {% endif %}

    {% block app_content %}


    <section class="{% block content_inner_core_classes %}content-inner content-inner-with-padding{% endblock %}{% block content_inner_additional_classes %}{% endblock %}">
        {% for type, messages in app.session.flashbag.all() %}
            <div class="container-fluid">

                <div class="col-lg-12" style="z-index: 1000;">
                    {% for message in messages %}
                        {#<div class="alert alert-{{ type }}">#}
                        <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    
                </div>

            </div>
        {% endfor %}
        <!-- Modal -->
        <div class="modal fade" id="logoutAlert" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Alert</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to change your presence to 'Unavailable’ and Logout?<sup style="font-weight: bold; color: #ff0000">*</sup></p>
                    </div>
                    <div class="modal-footer">
                        <table class="col-md-9" style="float:left;color:#737373;font-style:italic;font-size:smaller;text-align:left">
                            <tr>
                                <td><sup style="font-size:100%;font-weight: bold;color: #ff0000;padding-right: 5px;vertical-align: text-top;top: -9px;">*</sup></td>
                                <td>An ‘Unavailable’ presence indicates to users that you may not be reading your messages until you once again become ‘Available’. Presence can be changed anytime by clicking your name on the top bar.</td>
                            </tr>
                        </table>
                        <button id="logout-alert-negative-btn" type="button" onclick="logoutUser()" class="btn btn-default btn-round btn-uc" data-dismiss="modal" style="margin-top: 0px">No</button>
                        <button id="logout-alert-positive-btn" type="button" data-dismiss="modal" onclick="changePresenceAndLogout()" class="btn btn-primary btn-uc">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        {% block app_content_inner %}{% endblock %}
    </section>
    {% endblock %}
    {% block javascript_app_templates %}{% endblock %}

    <div class="sk-folding-cube sk-folding-cube-ajax" id="showPageLoader" style="display: none">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
<!-- JS -->
{% set currentPagePath = app.request.get('_route') %}
{% block javascripts %}
    {% javascripts
    '@HospitalBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>

    <script type="text/javascript">
    {% if currentPagePath != "login" and currentPagePath != "fos_user_security_login" %}
        var showTimeout = setTimeout(function() {
            $("#showPageLoader").show();            
            $("body").addClass("pager-loader-transparent");
        }, 4000);

        $(window).load(function () {
            clearTimeout(showTimeout);
            $("#showPageLoader").hide();
            $("body").removeClass("pager-loader-transparent");
        });
    {% endif %}

        var pageMsgCount;
        var pageConsultCount;
        var pageReferralCount;
        
        var msgSnd = new Audio("/sounds/md_contact.mp3");
        var consultSnd = new Audio("/sounds/receipt_confirmation_alarm.mp3");

        setTimeout(function(){
            pageMsgCount = parseInt($("#messageBadgeCount").text(), 10);
            if (isNaN(pageMsgCount)) {pageMsgCount = 0};

            pageConsultCount = $("#consultBadgeCount").text();
            if (pageConsultCount == '') { pageConsultCount = 0};

            pageReferralCount = $("#referralBadgeCount").text();
                if (pageReferralCount == '') { pageReferralCount = 0};
            }, 5000);

        {# TODO: Needs to be refactored into global JS file #}
        var ajaxWorking = false;
        function isStaticPage() {
            return (window.location.pathname=="{{path('fos_user_security_login')}}"
                    ||
                    window.location.pathname=="{{path('ldap_login')}}"
                    ||
                    window.location.pathname=="{{path('login')}}"
            )
        }
        function getMessageCounts() {

            if(ajaxWorking) { return; }
            if(isStaticPage()) { return; }

            $.ajax({
                url: '{{ path('notification_api_counts') }}',
                dataType: 'json',
                beforeSend: function() {
                    ajaxWorking = true;
                }
            }).done(function(response) {

                ajaxWorking = false;

                if( response.success ) {
                    
                    //  Update Consults Message Count
                    if( response.consult_count && response.consult_count !== '0' ){
                        $('#consultBadgeCount').html(response.consult_count).removeClass('hidden');
                        $('#consultBadgeCountItem').html(response.consult_count);
                            if ((pageConsultCount == 0 || pageConsultCount > 0) && pageConsultCount < response.consult_count) {
                                pageConsultCount = response.consult_count;
                                consultSnd.play();
                                soundAlert('consult');
                            }
                    } else {
                        $('#consultBadgeCount').html('').addClass('hidden');
                        $('#consultBadgeCountItem').html("0");
                    }
                    delete response.consult_count;

                        //  Update Referral Message Count
                    if( response.referral_count && response.referral_count !== '0' ){
                        $('#referralBadgeCount').html(response.referral_count).removeClass('hidden');
                        $('#referralBadgeCountItem').html(response.referral_count);
                            if ((pageReferralCount == 0 || pageReferralCount > 0) && pageReferralCount < response.referral_count) {
                                pageReferralCount = response.referral_count;
                                consultSnd.play();
                                soundAlert('consult');
                            }
                    } else {
                        $('#referralBadgeCount').html('').addClass('hidden');
                        $('#referralBadgeCountItem').html("0");
                    }
                    delete response.referral_count;
                    //  Update Messages Count
                    if( response.message_count && response.message_count !== '0' ){
                        $('#messageBadgeCount').html(response.message_count).removeClass('hidden');
                        $('#messageBadgeCountItem').html(response.message_count);

                        if ((pageMsgCount === 0 || pageMsgCount > 0) && pageMsgCount < response.message_count) {
                                pageMsgCount = response.message_count;
                                setTimeout(function () {
                                    msgSnd.play(), soundAlert('message');
                                }, 3000);
                            }

                    } else {
                        $('#messageBadgeCount').addClass('hidden');
                        $('#messageBadgeCountItem').html("0");
                    }
                        delete response.message_count;
                    
                    if( response.events_count && response.events_count !== '0' ){
                        $('#eventBadgeCount').html('NEW').removeClass('hidden');
                    } else {
                        $('#eventBadgeCount').addClass('hidden');
                    }
                    delete response.events_count;
                    
                    if( response.survey_count && response.survey_count !== '0' ){
                        $('#surveyBadgeCount').html('NEW').removeClass('hidden');
                    } else {
                        $('#surveyBadgeCount').addClass('hidden');
                    }
                    delete response.survey_count;
                    
                    //  Update Alerts Count
                    if( response.alerts_count && response.alerts_count !== '0' ){
                        $('#alertBadgeCount').html('NEW').removeClass('hidden');
                    } else {
                        $('#alertBadgeCount').addClass('hidden');
                        //$('#alertNavBtn').addClass('hidden');
                    }
                    delete response.alerts_count;
                    delete response.success;
                    if( response.notification_count && response.notification_count !== '0' ) {
                        //$('#notificationBadgeCount').html(response.notification_count).removeClass('hidden');
                        $('#notificationBadgeCount').html('NEW').removeClass('hidden');
                    } else {
                        $('#notificationBadgeCount').addClass('hidden');
                    }
                    delete response.notification_count;
                        var t=true;
                        $.each(response,function(name,value){
                            t=false;
                            $('#labsBadgeCount'+name).html(value).removeClass('hidden');
                        });
                        if(t){
                        $('span[id^="labsBadgeCount"]').html('').addClass('hidden');
                        }

                } 
                else {
                    console.error("Error getting counts. Error: "+response.message);
                    {#window.location="{{path('login')}}";#}
                }

            });
        }

        $( document ).ready(function() {
            $(".fixHeader").fixHdr();

            {% if app.user  %}  // if user logged in
                //  Init
                getMessageCounts();

                //  Get the message counts every 60 seconds
                setInterval(getMessageCounts, 80000);
            {% endif %}

            // Back to Top
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 50) {
                    $('#back-to-top').fadeIn(200);
                } else {
                    $('#back-to-top').fadeOut(200);
                }
            });
            $('#back-to-top').click(function() {
                $('body,html').animate({
                    scrollTop : 0
                }, 500);
            });

            var userPresence = $("a[name='myPresence']").data('presence');
            if (userPresence != 'active'){
                $('.mkUnav').addClass('hidden');
            }

        });

         // Post to the provided URL with the specified parameters.
         function post(path, parameters) {
             var form = $('<form></form>');

             form.attr("method", "post");
             form.attr("action", path);

             if(parameters){
                 $.each(parameters, function(key, value) {
                     var field = $('<input></input>');

                     field.attr("type", "hidden");
                     field.attr("name", key);
                     field.attr("value", value);

                     form.append(field);
                 });
             }

             // The form needs to be a part of the document in
             // order for us to be able to submit it.
             $(document.body).append(form);
             form.submit();
         }

        function showCurrentMonthExcellenceReport(){
            post('{{ path('units-report') }}', { start_date : moment().startOf('month').unix(), end_date: moment().endOf('month').unix()});
        }

    </script>


    <script type="text/javascript">
         $('#notificationNavBtn').hover(
                    function(){
                        $(this).children('#myDropdown').slideDown(10);
                    },
                    function(){
                        $(this).children('#myDropdown').slideUp(10);
                    }
            );

        function soundAlert(txt) {
            $('#popup_box').css({"display": "block"});
            $("#popup_box").text('New ' + txt);
            $('#popup_box').fadeOut(9000);
        }


     {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    $.ajax({
                        url: "{{path("maintenancecheck")}}",
                        dataType: "json",
                        success: function(data){
                            if(data.success==1){
                                            $('.littlemargin').html('<i class=\'fa fa-exclamation-circle fa-lg\'></i><span class=\'bannerMsg\'>' + data.bannermess + '<span>');
                                            $('.littlemargin').removeClass("hidden");
                            }
                        }
                    });
                    
     {% elseif (app.session.get('bannermess') is defined) and (app.session.get('bannermess')|length>0) %}
         
         $('.littlemargin').html("<i class='fa fa-exclamation-circle fa-lg'></i><span class='bannerMsg'>{{app.session.get('bannermess')}}<span>");
         $('.littlemargin').removeClass("hidden");
         $("header.page").css("top","101px");
         $("aside.menu").css("top","101px");
            //messenger
         $("header.messengerHeader").css('top','101px');
         $(".messenger header.messenger h3").css('padding-top', '15px');
         $("aside.menu-messenger").css('top','101px');
            //consults
         $('.content-consults .littlemargin').css({'top': '60px'});
         $("nav.consults-box-menu").css('top','173px');
         $("nav.consults-side").css({'top':'223px','padding-left':'0px'});
            //on-call
         $("header.on-call").css('top','175px');
         $('section.schedule').css('top','183px');
            //address-book
         $('header.directory-filter').css('top', '175px');
         $('.content-has-directory-header section').css('padding-top','82px');

         $(".content-has-header section.content-inner").css({'margin-top':'113px', 'border-top':'1px solid #dde3eb'});
         $(".myfeed-contents").css('margin-top','114px');

         $("#oncallView").css('margin-top','45px');
         $("#scheduleFormH").css('margin-top','225px');
     {% endif %}

        function logoutAction(frm){
            var parent = $('.has-icon-with-space a#{{ (not app.user is null and  not app.user.employee is null)? app.user.employee.id:0 }}');
            var isActive = '{{ (not app.user is null and  not app.user.employee is null)? app.user.employee.isActive() }}';
            var presence = parent.attr('data-presence');
            if((presence === "" && isActive === '1') || presence === 'active'){
                if (frm === 'logout') {
                $('#logoutAlert').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
                } else {
                changePresenceAndLogout()
                }
            }else{
                logoutUser()
            }
        }

        function changePresenceAndLogout(){
            $.ajax({
                type: "POST",
                url: "{{ path('presence_set', {'presence':'inactive'}) }}",
                success: function(response) {
                    if(response.success != true){
                        alert('Error: '+response.message);
                    }
                    logoutUser();
                }
            });
        }

        function logoutUser(){
            window.location = '/logout';
        }

         $(function () {
             $('input[type="file"]').change(function () {
                 if ($(this).val() != "") {
                     $(this).css({'color':'#00a89e'});
                 }else{
                     $(this).css('color', 'transparent');
                 }
             });
         });

         function chrCount(inobj, maxl, outobj, outObj) {
             var len = inobj.value.length;
             if (len >= maxl) {
                 inobj.value = inobj.value.substring(0, maxl);
                 $(outObj).css('color','#fff');
                 $(outobj).html('<i class="fa fa-exclamation-circle fa-lg"></i> 200 characters maximum');
                 $(outobj).css('color','#ff4500');
             } else {
                 $(outObj).css('color','#999');
                 $(outobj).text(maxl - len);
             }
         }

         $('.cbm').focus(function () {
             $('.chrCnt').css('display', 'block');

            if ($('.cbm').val().length <= 200) {
                 chrCount($('.cbm').get(0), 200, '#chrcnt', '#chrtxt');
            } else {
                 chrCount($('.cbm').get(0), 249, '#chrcnt', '#chrtxt');
            }
             $('.cbm').keyup(function () {
                 chrCount(this, 200, '#chrcnt', '#chrtxt');
             });
         });

         function chrCount(inobj, maxl, outobj, outObj) {
             var len = inobj.value.length;
             if (len >= maxl) {
                 inobj.value = inobj.value.substring(0, maxl);
                 $(outObj).css('color','#fff');
                 $(outobj).html('<i class="fa fa-exclamation-circle fa-lg"></i> 200 characters maximum');
                 $(outobj).css('color','#ff4500');
             } else {
                 $(outObj).css('color','#999');
                 $(outobj).text(maxl - len);
             }
         }

         $('.cbm').focus(function () {
             $('.chrCnt').css('display', 'block');

            if ($('.cbm').val().length <= 200) {
                 chrCount($('.cbm').get(0), 200, '#chrcnt', '#chrtxt');
            } else {
                 chrCount($('.cbm').get(0), 249, '#chrcnt', '#chrtxt');
            }
             $('.cbm').keyup(function () {
                 chrCount(this, 200, '#chrcnt', '#chrtxt');
             });
         });

         $.fn.fixHdr = function() {
             return this.each(function() {
                 var $this = $(this),
                     $t_fixed;
                 function init() {
                     $this.wrap('<div class="hdrContainer"></div>');
                     $t_fixed = $this.clone();
                     var pos = 'fixedHdrPos';
                     if ($('.bannerMsg').length > 0) {
                         pos = 'fixedHdrPosWBanner';
                     }
                     $t_fixed.find("tbody").remove().end().addClass(pos).insertBefore($this);
                     resizeFixed();
                 }
                 function resizeFixed() {
                     $t_fixed.find("th").each(function(index) {
                         $(this).css("width",$this.find("th").eq(index).outerWidth()+"px");
                     });
                 }
                 function scrollFixed() {
                     var offset = $(this).scrollTop(),
                         tableOffsetTop = $this.offset().top - 130,
                         tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                     if(offset < tableOffsetTop || offset > tableOffsetBottom)
                         $t_fixed.hide();
                     else if(offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                         $t_fixed.show();
                 }
                 $(window).resize(resizeFixed);
                 $(window).scroll(scrollFixed);
                 init();
             });
         };
    </script>
    {% endjavascripts %}
{% endblock %}
    {% if app.request.get('_route') != 'list_message' %}<a href="#" id="back-to-top"><i class="fa fa-arrow-up"></i></a>{% endif %}</body>
</html>
